body{

margin: 0;
 font-family:Arial, sans-serif;
 line-height: 1.6 ;
 background:#964b4b ;
 color:aquamarine;

}

header{
    background: #0e66bf;
    color: rgb(240, 230, 230);
    padding:100px;

}
 
nav{

    display: flex;
    gap: 20px;
    padding-top:10px;
}

nav a{
    text-decoration:none;
    color:rgb(215, 36, 162)
}
.contenedor{

    max-width:1400px;
    margin:10px auto;
}

section{
    
    background: rgb(95, 8, 8);
    padding:20px;
    border:1px solid #83d4ee;
    border-radius:10px;
    margin-bottom:10px;

}
input,
textarea{

    width: 100%;
    padding:10px;
    margin-bottom:20px;
    box-sizing:border-box;


}
 
button{

    padding:10px 20px;
    background-color: #15365e;
    color: beige;
    border:none;
    cursor:pointer;
   
}

#mensaje{
     margin-top:15px;
     color: green;
     font-weight: bold;
}

.oculto{
    display:none;
}
    
footer{
    text-align:center;
    padding:20px;
    color:rgb(25, 5, 19);
}
@media(max-width:600px){
    nav{
        flex-direction:column;
        gap:10px;
    }
}
